{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
        
    {% endblock head %}
        
    <title>Vet Clinic</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'animal_list' %}">My Animals</a></li>
                    <li><a href="{% url 'schedule_appointment' %}">Schedule Appointment</a></li>
                    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endif %}
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Vet Clinic. All rights reserved.</p>
    </footer>
</body>
</html>
